<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- Header Start -->
    <div class="header-area header-transparent" th:fragment="headerFragment">
        <div class="main-header ">
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a th:href="@{/}"><img th:src="@{/assets/img/logo/logo.png}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">                                                                                          
                                            <li class="active" ><a th:href="@{/}">20220415/14:27</a></li>
                                            <li class="active" ><a th:href="@{/}">홈</a></li>
                                            <li><a href="#">#운동 클래스</a>
                                                <ul class="submenu">
                                                    <li><a th:href="@{/eClassApprovedList}">#신규 클래스(재환)</a></li>
                                                    <li><a th:href="@{/OpenApplyForm}">#특가 클래스(재환)</a></li>
                                                    <li><a href="#">#인기 클래스(재환)</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">#챌린지</a>
                                                <ul class="submenu">
                                                    <li><a th:href="@{/challenge/challengeGather/challengeGatherList}">#모집 중 챌린지</a></li>
                                                    <li><a th:href="@{/challenge/challengeEnter/challengeEnterList}">#참가 챌린지(보라)</a></li>
                                                    <li><a th:if="${session.SCHALLENGE == '권한있음' || session.SLEVEL == 'levelCode001'}" th:href="@{/challengeadmin}">#챌린지관리자(보라)</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">#식단</a>
                                                <ul class="submenu">
                                                    <li><a th:href="@{/diet/mypage/dietBankList}">#식단은행(영호)</a></li>
                                                    <li><a th:href="@{/diet/mypage/dietMyList}">#개인식단(영호)</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">#일지</a>
                                                <ul class="submenu">
                                                    <li><a th:href="@{/workoutLog/workoutLogUser/workoutGoalList}">#운동 목표(민희)</a></li>
                                                    <li><a th:href="@{/workoutLog/workoutLogUser/workoutGoalPlanList}">#운동 계획(민희)</a></li>
                                                    <li><a th:href="@{/workoutLog/workoutLogUser/workoutLogMain}">#하루 일지(민희)</a></li>
                                                </ul>
                                            </li>
                                            <!-- Button -->
                                            <li class="button-header margin-left "><a th:if="${session.SEMAIL == null}" class="btn btn3">#로그인(민식)</a>
                                            	<ul class="submenu">
                                            		<li><a th:href="@{/login}">관리자</a></li>
                                            		<li><a th:href="@{/login2}">일반 회원</a></li>
                                            		<li><a th:href="@{/login3}">미인증 회원</a></li>
                                            	</ul>
                                            </li>
                                            <li class="button-header"><a th:if="${session.SEMAIL == null}" th:href="@{/addMember}" class="btn btn3">#회원가입(민식)</a></li>
											<li th:if="${session.SEMAIL != null}" class="user-name text-white"><span>[[${session.SNAME}]]님이 로그인하셨습니다.</span></li>
											<li><a th:if="${session.SEMAIL != null && session.SLEVEL == 'levelCode001'}">#관리자메뉴</a>
											<!-- <img th:src="@{/asset/img/avatar.jpg}" class="img-circle avatar" alt="user name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"/> -->
												<ul class="submenu">
													<li><a th:if="${session.SEMAIL != null}" th:href="@{/mypage}"><span class="fa fa-user"></span>마이페이지</a></li>
													<li role="separator" class="divider"></li>
													<li><a th:href="@{#}"><span class="fa fa-calendar"></span>#위시리스트</a></li>
													<li><a th:if="${session.SEMAIL != null && session.SLEVEL == 'levelCode001'}" th:href="@{/admin}"><span class="fa fa-cogs"></span>관리자 페이지</a></li>
													<li><a th:if="${session.SEMAIL != null}" th:href="@{/logout}" ><span class="fa fa-power-off"></span>로그아웃</a></li>
												</ul>
											</li>
											<li><a th:if="${session.SEMAIL != null && session.SLEVEL != 'levelCode001'}">#회원 메뉴</a>
											<!-- <img th:src="@{/asset/img/avatar.jpg}" class="img-circle avatar" alt="user name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"/> -->
												<ul class="submenu">
													<li><a th:if="${session.SEMAIL != null}" th:href="@{/mypage}"><span class="fa fa-user"></span>마이페이지</a></li>
													<li role="separator" class="divider"></li>
													<li><a th:if="${session.SEMAIL != null}" th:href="@{#}"><span class="fa fa-calendar"></span>#위시리스트</a></li>
													<li><a th:if="${session.SEMAIL != null}" th:href="@{/logout}" ><span class="fa fa-power-off"></span>로그아웃</a></li>
												</ul>
											</li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div> 
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</html>