<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
		<!-- start:Left Menu -->
            <div id="left-menu" th:fragment="leftmenuFragment">
              <div class="sub-left-menu scroll">
                <ul class="nav nav-list">
                    <li class="time">
                      <h1 class="animated fadeInLeft">21:00</h1>
                      <p class="animated fadeInRight">Sat,October 1st 2029</p>
                    </li>
                    <li class="ripple">
                    	<a th:href="@{/admin}"><span class="fa-home fa"></span> 관리자 홈
                      </a>
                    </li>
                    <li class="ripple">
                      <a class="tree-toggle nav-header"><span class="fa-user fa"></span> 회원
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                      </a>
                      <ul class="nav nav-list tree">
						  <li><a th:href="@{/admin/memberList}">#전체 회원 목록(민식)</a></li>                          
                          <li><a th:href="@{/admin/memberLevelList}">#회원 권한 관리(민식)</a></li>                          
                          <li><a th:href="@{/admin/loginHistory}">#로그인 회원 목록(민식)</a></li>  
                      </ul>
                    </li>
                    <li class="ripple">
                      <a class="tree-toggle nav-header">
                        <span class="fa fa-users"></span> 운동클래스
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                      </a>
                      <ul class="nav nav-list tree">
                      	<li><a th:href="@{/admin/eClassOpenApplyadminList}">#운동클래스 개설 신청 내역(재환)</a></li>
						<li><a th:href="@{/admin/eClassApplyadminList}">#운동클래스 목록(재환)</a></li>
                        <li><a th:href="@{/eClassOpenApplyadminList}">#운동클래스 개설 신청 내역(재환)</a></li>
                        <li><a th:href="@{/admin/eClassCategoryList}">#운동 클래스 카테고리 관리(민식)</a></li>
                        <li><a th:href="@{/eClassApplyadminList}">#운동클래스 목록(재환)</a></li>
                        <li><a th:href="@{#}">#운동클래스(재환)</a></li>
                        <li><a th:href="@{#}"></a></li>
                      </ul>
                    </li>
                    <li class="ripple">
                      <a class="tree-toggle nav-header">
                        <span class="fa fa-pencil-square"></span> 일지
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                      </a>
                      <ul class="nav nav-list tree">
                        <li><a th:href="@{/admin/workoutLogConfigMain}">#일지 관리(민희)</a></li>
						<li><a th:href="@{/admin/workoutCategoryList}">#운동계획 카테고리 관리(민희)</a></li>
						<li><a th:href="@{/admin/workoutGoalPlanTrainerList}">#운동계획 관리-트레이너(민희)</a></li>
						<li><a th:href="@{/admin/workoutAIVideoList}">#AI운동영상 관리(민희)</a></li>
                      </ul>
                    </li>
                    <li class="ripple">
                    <a class="tree-toggle nav-header">
                    	<span class="fa fa-trophy"></span> 챌린지  
                    	<span class="fa-angle-right fa right-arrow text-right"></span> 
                    </a>
                      <ul class="nav nav-list tree">
                        <li><a th:href="@{/admin/configList}">#챌린지 관리설정(보라)</a></li>
						<li><a th:href="@{/admin/challengeList}">#모집 챌린지 목록(보라)</a></li>
						<li><a th:href="@{/admin/challengeListIng}">#진행 챌린지 목록(보라)</a></li>
						<li><a th:href="@{/admin/challengePoint}">#챌린지 포인트 관리(보라)</a></li>
						<li><a th:href="@{/admin/challengeReportList}">#챌린지 신고 관리(보라)</a></li>
                      </ul>
                    </li>
                    <li class="ripple">
                    <a class="tree-toggle nav-header">
                    	<span class="fa fa-ship"></span> 식단  
                    	<span class="fa-angle-right fa right-arrow text-right"></span> 
                    </a>
                      <ul class="nav nav-list tree">
                        <li><a th:href="@{/admin/diet/dietBankListAdmin}">#식단 은행(영호)</a></li>
                        <li><a th:href="@{#}">#개별 식단 관리(영호)</a></li>
                        <li><a th:href="@{#}">#영양성분  API 관리(영호)</a></li>
                        <li><a th:href="@{#}">#수강생 식단 관리(영호)</a></li>
                      </ul>
                    </li>
                    <li class="ripple">
                    <a class="tree-toggle nav-header">
                    	<span class="fa fa-credit-card"></span> 결제/환불  
                    	<span class="fa-angle-right fa right-arrow text-right"></span> 
                    </a>
                      <ul class="nav nav-list tree">
                        <li><a th:href="@{#}">#결제 내역(수경)</a></li>
                        <li><a th:href="@{#}">#환불 내역(수경)</a></li>
                        <li><a th:href="@{#}">#환불 기준 관리(수경)</a></li>
                      </ul>
                    </li>
                    <li class="ripple">
                    <a class="tree-toggle nav-header">
                    	<span class="fa fa-money"></span> 포인트
                    	<span class="fa-angle-right fa right-arrow text-right"></span> 
                    </a>
                      <ul class="nav nav-list tree">
                        <li><a th:href="@{#}">#포인트 지급(수경)</a></li>
                        <li><a th:href="@{#}">#포인트 내역(수경)</a></li>
                        <li><a th:href="@{#}">#포인트 지급 기준(수경)</a></li>
                      </ul>
                    </li>
                    <li class="ripple">
                    <a class="tree-toggle nav-header">
                    	<span class="fa fa-wechat"></span> 채팅
                    	<span class="fa-angle-right fa right-arrow text-right"></span> 
                    </a>
                      <ul class="nav nav-list tree">
                        <li><a th:href="@{#}">#채팅 내역 관리(관리자)(영호)</a></li>
                      </ul>
                    </li>
                    <li class="ripple">
                    <a class="tree-toggle nav-header">
                    	<span class="fa fa-bell"></span> 알림
                    	<span class="fa-angle-right fa right-arrow text-right"></span> 
                    </a>
                      <ul class="nav nav-list tree">
                        <li><a th:href="@{#}">#알림 문구 관리(영호)</a></li>
                        <li><a th:href="@{#}">#알림 내역 관리(영호)</a></li>
                        <li><a th:href="@{#}">#새 알림 등록(영호)</a></li>
                      </ul>
                    </li>
                    <li class="ripple">
                    <a class="tree-toggle nav-header">
                    	<span class="fa fa-sticky-note"></span> 쪽지
                    	<span class="fa-angle-right fa right-arrow text-right"></span> 
                    </a>
                      <ul class="nav nav-list tree">
                        <li><a th:href="@{#}">#쪽지 관리(영호)</a></li>
                        <li><a th:href="@{#}">#쪽지함(영호)</a></li>
                      </ul>
                    </li>
                    <li class="ripple">
                    <a class="tree-toggle nav-header">
                    	<span class="fa fa-user-secret"></span> 신고
                    	<span class="fa-angle-right fa right-arrow text-right"></span> 
                    </a>
                      <ul class="nav nav-list tree">
                        <li><a th:href="@{/admin/reportList}">#등록된 신고 관리(민식)</a></li>
                        <li><a th:href="@{/admin/reportStandardList}">#신고 기준 관리(민식)</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
            </div>
          <!-- end: Left Menu -->
</html>