<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/userdefault}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	
	<th:block layout:fragment="customContents">
		<div class="container box_1170">
			<div class="section-top-border">
				<div class="row justify-content-center">
					<div class="col-lg-8 col-md-8">
						<h3 class="mb-30">일지 수정</h3>
						<form class="mb-5" id="workoutLogInsert" th:action="@{/workoutLog/workoutLogUser/workoutLogUpdate}" method="post" >
								<!-- 일지 제목 -->
								<div class="mt-10">
									<h6>일지 제목</h6>
									<input type="hidden" name="workoutLogCode" th:value="${workoutLog.workoutLogCode}" required class="single-input">
									<input type="text" name="workoutLogTitle" th:value="${workoutLog.workoutLogTitle}" required class="single-input">
								</div>
								<div class="mt-10">
								</div>
								<div class="input-group-icon mt-10">
										<div class="icon"><i class="fas fa-bookmark" aria-hidden="true"></i></div>
										<div class="form-select">
											<!-- 일지 공개범위 선택 -->
											<select name="workoutLogPrivacyBoundsCode" id="workoutLogPrivacyBoundsCode">
												<th:block th:if="${not #lists.isEmpty(workoutLogPrivacyboundsList)}" th:each="w : ${workoutLogPrivacyboundsList}">
													<option th:value="${w.workoutLogPrivacyBoundsCode}" th:selected="${w.workoutLogPrivacyBoundsCode == workoutLog.workoutLogPrivacyBoundsCode}">
														[[${w.workoutLogPrivacyBoundsContent}]]
													</option>
												</th:block>
												<th:block th:unless="${not #lists.isEmpty(workoutLogPrivacyboundsList)}">
													<option >등록된 카테고리가 없습니다.</option>
												</th:block>
											</select>
										</div>
								</div>
								<div class="input-group-icon mt-10">
										<div class="icon"><i class="fas fa-bookmark" aria-hidden="true"></i></div>
										<div class="form-select">
											<!-- 운동 클래스 카테고리 large 선택 -->
											<select  name="eClassCategoryLargeCode" id="eClassCategoryLargeCode">
													<th:block th:if="${not #lists.isEmpty(eClassCategoryLargeList)}" th:each="e : ${eClassCategoryLargeList}">
														<option th:value="${e.eClassCategoryLargeCode}" th:selected="${e.eClassCategoryLargeCode == workoutLog.eClassCategorySmall.eClassCategoryLargeCode}">
															[[${e.eClassCategoryLargeName}]]
														</option>
													</th:block>
													<th:block th:unless="${not #lists.isEmpty(eClassCategoryLargeList)}">
														<option>등록된 카테고리가 없습니다.</option>
													</th:block>
											</select>
										</div>
								</div>
								<div class="input-group-icon mt-10">
										<div class="icon"><i class="fas fa-bookmark" aria-hidden="true"></i></div>
										<div class="form-select">
											<!-- 운동 클래스 카테고리 medium 선택 -->
											<select name="eClassCategoryMediumCode" id="eClassCategoryMediumCode">
												<th:block th:if="${not #lists.isEmpty(workoutLog)}" th:each="w : ${workoutLog}">	
													<option th:value="${w.eClassCategorySmall.eClassCategoryMediumCode}" th:selected="${w.eClassCategorySmall.eClassCategoryMediumCode == workoutLog.eClassCategorySmall.eClassCategoryMediumCode}">
															[[${w.eClassCategorySmall.eClassCategoryMediumName}]]
													</option>
												</th:block>
												<th:block th:unless="${not #lists.isEmpty(workoutLog)}">
													<option >등록된 카테고리가 없습니다.</option>
												</th:block>
											</select>
										</div>
								</div>
								<div class="input-group-icon mt-10">
										<div class="icon"><i class="fas fa-bookmark" aria-hidden="true"></i></div>
										<div class="form-select">
											<!-- 운동 클래스 카테고리 small 선택 -->
											<select  name="eClassCategorySmallCode" id="eClassCategorySmallCode">
												<th:block th:if="${not #lists.isEmpty(workoutLog)}" th:each="w : ${workoutLog}">
													<option value= "eClassCategorySmallCode" data-cate="eClassCategorySmallName">운동 카테고리 소</option>
													<!--  <option th:value="${w.eClassCategorySmallCode}" th:data-cate="${w.eClassCategorySmallName}" ></option>-->
													<option th:value="${w.eClassCategorySmallCode}" th:selected="${w.eClassCategorySmallCode == workoutLog.eClassCategorySmallCode}">
															[[${w.eClassCategorySmallName}]]
													</option>
												</th:block>
												<th:block th:unless="${not #lists.isEmpty(workoutLog)}">
													<option >등록된 카테고리가 없습니다.</option>
												</th:block>
											</select>
										</div>
								</div>
								<div class="mt-10">
							        <div class="card p-3" style="background-color: #f9f9ff; border: none;">
										<h6>일지 내용</h6>
										<div class="row pt-3">
							               <div class="col-12">
							                  <div class="form-group">
							                     <textarea class="form-control w-100" name="workoutLogContent" id="comment" cols="30" rows="9" th:value="${workoutLog.workoutLogContent}">[[${workoutLog.workoutLogContent}]]</textarea>
							                  </div>
							               </div>
							            </div>
									</div>
								</div>
								<div class="row justify-content-center mt-5">
		                            <button class="primary-bg btn_1 boxed-btn" id="workoutLogInsertbtn" type="button">
		                            	일지 수정
		                            </button>
		                        </div>
                        </form>    
					</div>
				</div>
			</div>
		</div>
	
	</th:block>
	
	<!-- 사용자 정의 Css -->
	<th:block layout:fragment="customCss">
		<!-- Web Fonts  -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<style>
		/* -------------------------------------summernote css------------------------------------------ */
			.breadcrumb {
			    background: none;
			    padding: 0;
			    margin: 0;
			    font-family: "Mulish", sans-serif !important;
			}
			
			.breadcrumb-item+.breadcrumb-item::before {
			    display: inline-block;
				color: #fff !important;
				content: "|" !important;
				font-size: 17px;
			    padding-right: 8px !important;
				line-height: 1;
				padding: 0 4px;
				padding-right: 8px
			}
			
			a {
			    color: #ffffff;
			    text-decoration: none;
			    background-color: transparent;
			}
			
			.btn {
				padding: 8px 5px !important;
				line-height: 1 !important;
			}
			
			.btn.btn3 {
			    background: none !important;
			    border: 1px solid #fff !important;
			    margin-left: 20px !important;
			    color: #fff !important;
			    padding: 25px 30px !important;
			    line-height: 1 !important;
			}
			
			.note-btn-group btn-group {
				margin: 3px;
			}
		</style>
	</th:block>
	
	<!-- 사용자 정의 Script -->
	<th:block layout:fragment="customBodyScript">
		<!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
		<script>
		
		$(function(){
			  console.log("이거 되나? 이거 안되면");
			  
			  //운동 계획 카테고리 대-중 분류
			  $(document).on('change',"#eClassCategoryLargeCode", function(e) {
				  console.log("이거 되나?medium");
                  var eClassCategoryLargeCode = $('select[name="eClassCategoryLargeCode"]').val();
                  console.log(eClassCategoryLargeCode);
                      $.ajax({
                          url : '/workoutLog/workoutLogUser/geteClassCategoryMedium',
                          type : 'post',
                          data : {
                              'eClassCategoryLargeCode' : eClassCategoryLargeCode
                          },
                          dataType : 'json',
                          success : function(data) {
                              console.log(JSON.stringify(data));
                              console.log(data.length);
                              var txt1='<option value="none">운동 카테고리 중분류 선택하세요</option>';
                                  for(var i =0;i<data.length;i++)
                                  {
                                	  txt1 +='<option value="'+data[i].eClassCategoryMediumCode+'" '    +'>' + data[i].eClassCategoryMediumName  +"</option>";
                                  }
                                  console.log(txt1);
                                  $('#eClassCategoryMediumCode').empty();
                                  $('#eClassCategoryMediumCode').append(txt1);
                                  $('#eClassCategoryMediumCode').niceSelect('update');
                                  
                                  
                              }
                      });
                  });
			  
			  //운동 계획 카테고리 중-소 분류
			  $(document).on('change',"#eClassCategoryMediumCode", function(e) {
				  console.log("이거 되나?small");
                  var eClassCategoryMediumCode = $('select[name="eClassCategoryMediumCode"]').val();
                  console.log(eClassCategoryMediumCode);
                      $.ajax({
                          url : '/workoutLog/workoutLogUser/geteClassCategorySmall',
                          type : 'post',
                          data : {
                              'eClassCategoryMediumCode' : eClassCategoryMediumCode
                          },
                          dataType : 'json',
                          success : function(data) {
                              console.log(JSON.stringify(data));
                              console.log(data.length);
                              var txt1='<option value="none">운동 카테고리 소분류 선택하세요</option>';
                                  for(var i =0;i<data.length;i++)
                                  {
                                	  txt1 +='<option value="'+data[i].eClassCategorySmallCode+'" '    +' data-cate="'+ data[i].eClassCategorySmallName +'">' + data[i].eClassCategorySmallName  +"</option>";
                                  }
                                  console.log(txt1);
                                  $('#eClassCategorySmallCode').empty();
                                  $('#eClassCategorySmallCode').append(txt1);
                                  $('#eClassCategorySmallCode').niceSelect('update');
                                  
                                  
                              }
                      });
                  });
			  
			
			//등록 처리시 form을 submit 하기 전에 특정값을 추가
			$(document).on('click','#workoutLogInsertbtn',function(){
				var datacate = $('#eClassCategorySmallCode option:selected').attr('data-cate');
				//alert(datacate);
				var eClassCategorySmall = $("<input type='hidden' value='" + datacate + "' name='eClassCategorySmallName'/>");
				$("#workoutLogInsert").append(eClassCategorySmall);
				$("#workoutLogInsert").submit();
			});
		});
		</script>
		
		
	</th:block>
	
</html>