<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/userdefault}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	
	<th:block layout:fragment="customContents">
	
		<!--? Blog Area Start-->
        <section class="blog_area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <div class="blog_left_sidebar">
                            <article class="blog_item">
		                    	<th:block th:if="${not #lists.isEmpty(workoutLogList)}" th:each="l : ${workoutLogList}">
                                	<th:block th:if="${not #lists.isEmpty(l.fileList)}"  th:each="f ,index: ${l.fileList}">
		                                <div class="blog_item_img" th:if="${index.index == 0}">
		                                	<img  th:src="@{${ '/' + #strings.replace(f.filePath, '\', '/')}}"  class="card-img rounded-0"  th:alt="${f.fileOriginalName}"/>
		                                    <a href="#" class="blog_item_date">
		                                        <h3>15</h3>
		                                        <p>Jan</p>
		                                    </a>
		                                </div>
	                                </th:block>
		                                <div class="blog_item_img">
		                                	<img th:unless="${not #lists.isEmpty(l.fileList)}" th:src="@{/assets/img/ImgNone.png}"  class="card-img rounded-0"/>
		                                    <a href="#" class="blog_item_date">
		                                        <h3>15</h3>
		                                        <p>Jan</p>
		                                    </a>
		                                </div> 
	                                <div class="blog_details">
	                              		<!-- get방식으로 보내준것 /member/modifyMember?memberId=id001&memberName=홍01 -->
										<!-- <a th:href="@{/member/modifyMember(memberId=${l.memberId}, memberName=${l.memberName})}">수정</a> -->
	                                    <a class="d-inline-block" 
	                                    th:href="@{/workoutLog/workoutLogUser/workoutLogList(workoutLogTitle=${l.workoutLogTitle},workoutLogContent=${l.workoutLogContent},workoutLogCode=${l.workoutLogCode})}">
	                                        <h2 class="blog-head" style="color: #2d2d2d;">[[${l.workoutLogTitle}]]</h2>
	                                    </a>
	                                    <p class="workoutLogContent">[[${l.workoutLogContent}]]</p>
	                                    <ul class="blog-info-link">
	                                        <li><a href="#" onclick="return false;" class="workoutLogLikeCount" th:data-workoutLogCode="${l.workoutLogCode}"><i class="fa fa-heart"></i>좋아요([[${l.workoutLogLikeCount}]])</a></li>
	                                        <li><a th:href="@{/workoutLog/workoutLogUser/workoutLogList#feedback(workoutLogTitle=${l.workoutLogTitle},workoutLogContent=${l.workoutLogContent},workoutLogCode=${l.workoutLogCode})}"><i class="fa fa-comments"></i>피드백</a></li>
	                                    </ul>
	                                </div>
			                    </th:block>
                            </article>
                            <nav class="blog-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a href="#" class="page-link" aria-label="Previous">
                                            <i class="ti-angle-left"></i>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link">1</a>
                                    </li>
                                    <li class="page-item active">
                                        <a href="#" class="page-link">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link" aria-label="Next">
                                            <i class="ti-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                        	<aside class="single_sidebar_widget search_widget">
					            <form action="#">
					               <div class="form-group">
					                  <div class="input-group mb-3">
					                     <input type="text" class="form-control" placeholder='Search Keyword'
					                     onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
					                     <div class="input-group-append">
					                        <button class="btns" type="button"><i class="ti-search"></i></button>
					                     </div>
					                  </div>
					               </div>
					            </form>
	                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" th:onclick="|location.href='@{/workoutLog/workoutLogUser/workoutLogInsert}'|">
	                            	오늘의 일지 등록
	                            </button>
	                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn mt-3" th:onclick="|location.href='@{/workoutLog/workoutLogUser/workoutLogBest}'|">
		                        	인기 일지
		                        </button>
                            </aside>
                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">오늘의 할 일</h4>
                                <form class="add-items">
					                <div class="todo-list">
					                    <div class="tdl-holder">
					                        <div class="tdl-content">
					                            <ul id="todo_list">
					                                <li>
					                                	<label>
					                                		<input type="checkbox"><i></i>
					                                		<span>물 2리터 이상 마시기</span>
					                                		<a href='#' class="ti-trash"></a>
					                                	</label>
					                                </li>
					                                <li>
					                                	<label>
					                                		<input type="checkbox" checked><i></i>
					                                		<span>스쿼트 100개 하기</span>
					                                		<a href='#' class="ti-trash"></a>
					                                	</label>
					                                </li>
					                                <li>
					                                <label>
					                                	<input type="checkbox"><i></i>
					                                	<span>책 읽기</span>
					                                	<a href='#' class="ti-trash"></a>
					                                </label>
					                                </li>
					                                <li>
					                                	<label>
					                                	<input type="checkbox" checked><i></i>
					                                	<span>일기 쓰기</span>
					                                	<a href='#' class="ti-trash"></a>
					                                	</label>
					                                </li>
					                            </ul>
					                        </div>
					                        <div class="px-4">
					                            <input type="text" class="tdl-new form-control" placeholder="새로운 할 일 작성 후 Enter 쳐유">
					                        </div>
					                    </div>
					                </div>
                                </form>
                            </aside>
                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title" style="color: #2d2d2d;">나의 목표</h3>
                                <th:block th:if="${not #lists.isEmpty(workoutGoalList)}" th:each="l : ${workoutGoalList}">
	                                <div class="single-services mb-30">
			                           <div class="features-caption">
			                               <h3>운동 목표 </h3>
			                               <p>[[${l.workoutGoalContent}]]</p>
			                           </div>
			                           <h6>목표 달성률</h6>
					                   <div class="percentage">
											<div class="progress">
												<div class="progress-bar color-7" role="progressbar" style="width: 30%"
												aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
			                      	</div>
			                    </th:block>
			                    <th:block th:unless="${not #lists.isEmpty(workoutGoalList)}" th:each="l : ${workoutGoalList}">
				            		<div class="col-lg-4 col-md-6 col-sm-8">
				                        <div class="single-services mb-30">
				                            <div class="features-caption">
				                                <h3>운동 목표</h3>
				                                <p>등록된 운동 목표가 없습니다.</p>
				                            </div>
				                        </div>
				                    </div>
				            	</th:block>      	  	
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
	</th:block>
	
	<th:block layout:fragment="customCss">
		<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css}">
		<!-- Custom Stylesheet -->
    	<link th:href="@{/todolist/css/style.css}" rel="stylesheet">
    	<style>
			.progress-bar.color-7 {
				background-color: #a367e7
			}
			h6{
				font-weight: bold
			}
			.comments-area {
				border-top: none;
				padding: 0px;
			}
			
			/* 한 줄 자르기 */ 
			.workoutLogContent { 
				width:200px;
		      	padding:0 5px;
		      	overflow:hidden;
		      	text-overflow:ellipsis;
		      	white-space:nowrap;
			}

		</style>
	</th:block>
	
	<!-- 사용자 정의 Script -->
	<th:block layout:fragment="customScript">
		<script>
		
			// to do List
			$(document).ready(function($) {
			    "use strict"
			    //todo list
			    $(".tdl-new").on('keypress', function(e) {
			        var code = (e.keyCode ? e.keyCode : e.which);
			        if (code == 13) {
			            var v = $(this).val();
			            var s = v.replace(/ +?/g, '');
			            if (s == "") {
			                return false;
			            } else {
			                $(".tdl-content ul").append("<li><label><input type='checkbox'><i></i><span>" + v + "</span><a href='#' class='ti-trash'></a></label></li>");
			                $(this).val("");
			                return false;	//리턴값 추가하여 엔터 먹힘
			            }
			        }
			    });
			    $(".tdl-content a").on("click", function() {
			        var _li = $(this).parent().parent("li");
			        _li.addClass("remove").stop().delay(100).slideUp("fast", function() {
			            _li.remove();
			        });
			        return false;
			    });
			    // for dynamically created a tags
			    $(".tdl-content").on('click', "a", function() {
			        var _li = $(this).parent().parent("li");
			        _li.addClass("remove").stop().delay(100).slideUp("fast", function() {
			            _li.remove();
			        });
			        return false;
			    });
			});
		
			// 일지 좋아요 Ajax
			$(function() {
				$(".workoutLogLikeCount").on("click", function() {
	                var workoutLogCode = $(this).attr('data-workoutLogCode');
	                var text = $(this);
	                console.log(workoutLogCode);
	                    $.ajax({
	                        url : '/workoutLog/workoutLogUser/workoutLogLikeCountUpdate',
	                        type : 'post',
	                        data : {
	                            	'workoutLogCode' : workoutLogCode
	                        },
	                        dataType : 'text',
	                        success : function(data) {
	                        	console.log(data);
	                        	console.log($(this));
	                        	text.empty();
	                            text.append('<i class="fa fa-heart"></i>좋아요(' + data + ')');
	                        }
	                    });
	       		 })
			});	
		</script>
	</th:block>
	
</html>	