<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	
	<th:block layout:fragment="customContents">
		<div class="col-md-12">
			<div class="panel">
		    	<div class="panel-heading bg-white border-none">
		        	<h4><span class="icon-direction"></span> 운동 계획 카테고리 목록</h4>
		        </div>
				<div class="panel-body">
					<form class="searchWorkoutLogTableForm" th:action="@{/admin/workoutCategoryList}" method="get">
	
						<div class="input-group">
							<span class="form-control" style="width: 180px;">일지 검색</span> <select
								class="form-control" name="searchKey" style="width: 130px;"
								required="required">
								<option value="memberEmail">회원이메일</option>
								<option value="workoutLogTitle">일지 제목</option>
							</select> <input class="form-control" type="text" name="searchValue"
								placeholder="검색키워드를 입력해주세요." required="required" />
						</div>
	
						<div class="input-group" style="margin-top: 10px;">
							<span class="form-control" style="width: 130px;">등록일자</span>
							<div class="input-daterange" id="datepicker"
								style="height: 33px !important;">
								<input type="hidden" name="searchDate" /> <input type="text"
									class="form-control" name="searchStart" placeholder="시작일"
									style="text-align: center; width: 130px" required="required" />
								<span class="form-control" style="width: 60px;">부터</span> <input
									type="text" class="form-control" name="searchEnd"
									placeholder="종료일" style="text-align: center; width: 130px"
									required="required" /> <span class="form-control"
									style="width: 60px;">까지</span>
							</div>
							<div style="margin-left: 10px; margin-top: 2.5px;">
								<input type="button" class="btn btn-round btn-default" value="오늘" />
								<input type="button" class="btn btn-round btn-default"
									value="1주일" /> <input type="button"
									class="btn btn-round btn-default" value="1개월" /> <input
									type="button" class="btn btn-round btn-default" value="3개월" /> <input
									type="button" class="btn btn-round btn-default" value="1년" />
							</div>
	
						</div>
						<div class="searchBtnDiv">
							<button type="submit"
								class="searchBtn btn-flip btn btn-gradient btn-primary">
								검색 <span class="fa fa-search"></span>
							</button>
							<button type="submit"
								class="searchResetBtn btn-flip btn btn-outline btn-default">
								초기화</button>
						</div>
					</form>
					<div class="responsive-table">
	                    <table id="workoutCategory" class="table table-striped table-bordered" width="100%" cellspacing="0">
		                    <thead>
								<tr>
			                        <th>운동 계획 카테고리명</th>
			                        <th>수정</th>
			                        <th>삭제</th>
		                     	</tr>
		                    </thead>
		                    <tbody class="myModal">
		                    	<tr th:if="${not #lists.isEmpty(workoutLogCategoryList)}" th:each="l : ${workoutLogCategoryList}">
			                        <td th:text="${l.workoutGoalPlanCategoryContent}"></td>
			                        <td>
			                        	<button type="button" th:data-cateName="${l.workoutGoalPlanCategoryContent}"  th:data-cateCode="${l.workoutGoalPlanCategoryCode}" class="btn btn-outline btn-success btn-sm workoutCategoryUpdateBtn" data-toggle="modal" data-target="#categoryUpdate">
											  	수정
										</button>
			                        </td>
			                        <td>
			                        	<a th:href="@{/admin/workoutCategoryDelete(workoutGoalPlanCategoryCode=${l.workoutGoalPlanCategoryCode})}">
				                        	<button type="button" class="btn btn-outline btn-danger btn-sm">
												삭제
											</button>
			                        	</a>
			                        </td>
		                      	</tr>
		                      	<tr th:unless="${not #lists.isEmpty(workoutLogCategoryList)}">
									<td colspan="3">등록된 회원의 정보가 없습니다.</td>
								</tr>
		                    </tbody>
	                  	</table>
	                </div>
		            <div style="text-align: center;">
		            	<a th:href="@{/admin/workoutCategoryInsert}" class="btn btn-outline btn-info btn-sm">카테고리 등록</a>
		            </div>
	            </div>
			</div>
		</div>
		
		<!-- 모달-수정 -->
		<div class="modal fade" id="categoryUpdate">
	        <div class="modal-dialog">
	          <div class="modal-content">
	            <div class="modal-header">
	              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	              <h4 class="modal-title" id="workoutLogCategoryModal"><span class="icon-direction"></span>운동 계획 카테고리명 수정</h4>
	            </div>
	              <form class="cmxform" id="workoutCategoryForm" th:href="@{/admin/workoutCategoryList}">
		            <div class="modal-body">
							<div class="col-md-12">
								<div class="form-group form-animate-text" style="margin-top:40px !important;">
							
									<input type="text" class="form-text" id="workoutGoalPlanCategoryContent" name="workoutGoalPlanCategoryContent" required>
									<input type="hidden" class="form-text" id="workoutGoalPlanCategoryCode" name="workoutGoalPlanCategoryCode" required>
									
									<span class="bar"></span>
									<label>운동 계획 카테고리명</label>
								</div>
			 				</div>
					 </div> 
		            <div class="modal-footer">
		              <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
		              <button type="button" class="btn btn-primary workoutCategoryUpdate" data-dismiss="modal">저장</button>
		            </div>
				  </form>
	          </div>
	        </div>
	    </div>
	    
	</th:block>
	
	
			
	<!-- 사용자 정의 Css -->
	<th:block layout:fragment="customCss">
		<link rel="stylesheet" type="text/css" th:href="@{/asset/css/plugins/simple-line-icons.css}" />
	
		<style type="text/css">
			.panel-heading > h4 {
				font-weight: bold;
				margin-bottom: 0;
				border-bottom: 2px solid #58666e;
				padding-bottom: 5px;
			}
			 .panel-body:nth-child(2) {
				padding-top: 0;
			}
			.modal-body {
			    padding: 0px !important; 
			}
			#btn1 {width: 20%;}
			
			.responsive-table {
				padding: 15px !important;
			}
			
			.input-group {
				position: relative;
				display: flex;
				border-collapse: separate !important;
				padding-bottom: 10px;
				margin-top: 10px;
				margin-left: 15px;
				border-bottom: 1px solid #efefef;
				margin-bottom: 0;
			}
			
			.input-group input[name=searchValue] {
				border-top-right-radius: 4px !important;
				border-bottom-right-radius: 4px !important;
			}
			
			.form-control {
				line-height: 1.7;
			}
			
			.searchBtnDiv {
				text-align: center;
				margin-top: 10px;
			}
			
		</style>
	</th:block>
	
	<!-- start: Javascript -->
	<th:block layout:fragment="customBodyScript">	
		<!-- start: Javascript -->
		<script th:src="@{/asset/js/jquery.min.js}"></script>
		<script th:src="@{/asset/js/jquery.ui.min.js}"></script>
		<script th:src="@{/asset/js/bootstrap.min.js}"></script>
	
		<!-- plugins -->
		<script th:src="@{/asset/js/plugins/moment.min.js}"></script>
		<script th:src="@{/asset/js/plugins/jquery.dataTables.min.js}"></script>
		<script th:src="@{/asset/js/plugins/dataTables.bootstrap.min.js}"></script>
		<script th:src="@{/asset/js/plugins/bootstrap-datepicker.js}"></script>
		<script th:src="@{/asset/js/plugins/bootstrap-datepicker.ko.min.js}"></script>
		<script th:src="@{/asset/js/plugins/jquery.nicescroll.js}"></script>
		<script th:src="@{/asset/js/plugins/nouislider.min.js}"></script>
		<script th:src="@{/asset/js/plugins/jquery.mask.min.js}"></script>
		<script th:src="@{/asset/js/plugins/jquery.validate.min.js}"></script>
		
		
		<!-- custom -->
		<script th:src="@{/asset/js/main.js}"></script>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		
		
		<script type="text/javascript">
		
			 $(document).ready(function(){
				 
				/* datepicker Start */
				$('.input-daterange').datepicker({
					format : "yyyy-mm-dd", //데이터 포맷 형식(yyyy : 년 mm : 월 dd : 일 )
					/* startDate: '-3d',	//달력에서 선택 할 수 있는 가장 빠른 날짜. 이전으로는 선택 불가능 ( d : 일 m : 달 y : 년 w : 주) */
					autoclose : true, //사용자가 날짜를 클릭하면 자동 캘린더가 닫히는 옵션
					calendarWeeks : false, //캘린더 옆에 몇 주차인지 보여주는 옵션 기본값 false 보여주려면 true
					clearBtn : false, //날짜 선택한 값 초기화 해주는 버튼 보여주는 옵션 기본값 false 보여주려면 true
					datesDisabled : [ '2019-06-24', '2019-06-26' ],//선택 불가능한 일 설정 하는 배열 위에 있는 format 과 형식이 같아야함.
					disableTouchKeyboard : false, //모바일에서 플러그인 작동 여부 기본값 false 가 작동 true가 작동 안함.
					immediateUpdates : false, //사용자가 보는 화면으로 바로바로 날짜를 변경할지 여부 기본값 :false 
					multidate : false, //여러 날짜 선택할 수 있게 하는 옵션 기본값 :false 
					multidateSeparator : ",", //여러 날짜를 선택했을 때 사이에 나타나는 글짜 2019-05-01,2019-06-01
					templates : {
						leftArrow : '&laquo;',
						rightArrow : '&raquo;'
					}, //다음달 이전달로 넘어가는 화살표 모양 커스텀 마이징 
					showWeekDays : true,// 위에 요일 보여주는 옵션 기본값 : true
					title : "등록일", //캘린더 상단에 보여주는 타이틀
					todayHighlight : true, //오늘 날짜에 하이라이팅 기능 기본값 :false 
					toggleActive : true, //이미 선택된 날짜 선택하면 기본값 : false인경우 그대로 유지 true인 경우 날짜 삭제
					weekStart : 0,//달력 시작 요일 선택하는 것 기본값은 0인 일요일 
					language : "ko" //달력의 언어 선택, 그에 맞는 js로 교체해줘야한다.
				});
				/* datepicker End */

				$('.searchBtn').click(function() {
					$('select[name="searchKey"]').attr("required", true);
					$('input[name="searchValue"]').attr("required", true);
					$('input[name="searchStart"]').attr("required", true);
					$('input[name="searchEnd"]').attr("required", true);
				});
				$('.searchResetBtn').click(function() {
					$('select[name="searchKey"]').attr("required", false);
					$('input[name="searchValue"]').attr("required", false);
					$('input[name="searchStart"]').attr("required", false);
					$('input[name="searchEnd"]').attr("required", false);
				});

			 	/* 데이터 테이블 생성*/
			    var table = $('#workoutCategory').DataTable({
			    	order : [ 0, 'desc' ],
					lengthChange : false,
					pageLength : 15,
					filter: false,
					 dom: '<"top"i>rt<"bottom"p><"clear">',
			    });
			 	
			    /* 레코드 수 포맷 */
				var info = table.page.info();			
				$('#workoutCategory_info').html('전체 ' + info.recordsTotal + ' 건').css('font-weight','bold');
				
				$('#workoutCategory').click(function(){
					$('#workoutCategory_info').html('전체 ' + info.recordsTotal + ' 건');
				});
		    
				/* 모달 */
			    // Set iframe attributes when the show instance method is called
			    $("#categoryUpdate").on("show.bs.modal", function(event) {
			        let button = $(event.relatedTarget); // Button that triggered the modal
			    });

			    // Remove iframe attributes when the modal has finished being hidden from the user
			    $("#categoryUpdate").on("hidden.bs.modal", function() {
			        $("#categoryUpdate").removeAttr('.close');
			    });
		  
			    
				/* 카테고리폼 */
			    $("#workoutCategoryForm").validate({
			      errorElement: "em",
			      errorPlacement: function(error, element) {
			        $(element.parent("div").addClass("form-animate-error"));
			        error.appendTo(element.parent("div"));
			      },
			      success: function(label) {
			        $(label.parent("div").removeClass("form-animate-error"));
			      },
			      rules: {
			    	workoutGoalPlanCategoryContent: "required",
			      },
			      messages: {
			    	workoutGoalPlanCategoryContent: "카테고리 이름을 입력해주세요.",
			      }
			    });
			
			    
				 //모달에 데이터 가져오기
				 $(document).on('click','.workoutCategoryUpdateBtn',function(){
					   console.log("나와라 오바");
					   var workoutLogCategoryCode = $(this).attr('data-cateCode');
					   var workoutGoalPlanCategoryContent = $(this).attr('data-cateName');
					   console.log(workoutLogCategoryCode, workoutGoalPlanCategoryContent);
					   
					   $('#workoutGoalPlanCategoryContent').val(workoutGoalPlanCategoryContent);
					   $('#workoutGoalPlanCategoryCode').val(workoutLogCategoryCode);
					   					  
				   });
				 
				 
				 //모달에서 카테고리명 수정 처리
				 $(document).on('click','.workoutCategoryUpdate',function(){
					   console.log("나와라 수정");
					   var workoutGoalPlanCategoryCode =  $('#workoutGoalPlanCategoryCode').val();
					   var workoutGoalPlanCategoryContent =  $('#workoutGoalPlanCategoryContent').val();
					   console.log(workoutGoalPlanCategoryCode, workoutGoalPlanCategoryContent);
					   
					  $.ajax({
							 url: '/admin/workoutLogCategoryUpdateModal' //수정 컨트롤러
							,type : 'post'
							,data : {
									'workoutGoalPlanCategoryCode' : workoutGoalPlanCategoryCode,
									'workoutGoalPlanCategoryContent' : workoutGoalPlanCategoryContent
							}
					   		,dataType : 'text'
							,success: function(data){
								console.log(data);
								if(Number(data) > 0){									
									alert('수정 성공');
									location.reload();
								}else{
									alert('수정 실패');
								}
							}
					   		, error : function(){
					   			alert('수정 실패');
					   		}
							
						});
				   });
			});
			
		</script>
		
	</th:block>
	<!-- end: Javascript -->
</html>