<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	
	<th:block layout:fragment="customContents">
		개설 신청한 클래스 리스트
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4" style="border: solid #7b7b90; ">
					<div class="properties properties2 mb-30">
						<div class="properties__card">
							<div class="properties__img overlay1">
								<a href="#"><img th:src="@{/asset/img/01_모코코콘1_07_멘탈X.png}" width="100px"height="100px" alt="승인된 클래스의 미리보기 이미지"></a>
							</div>
							<div class="">
								<h3><a href="#">운동 클래스의 제목</a></h3>
								<p>승인된 운동 클래스의 간단한 소개글 </p>
								<div class="">
									<div class="">
										<div class="">
											<i class="glyphicon glyphicon-star"></i>
											<i class="glyphicon glyphicon-star"></i>
											<i class="glyphicon glyphicon-star"></i>
											<i class="glyphicon glyphicon-star"></i>
											<i class="glyphicon glyphicon-star-empty"></i>
										</div>
										<p><span>(4.5)</span>해당 트레이너의 별점 또는 해당 클래스의 별점</p>
									</div>
									<div class="price">
										<input 	type="number"
												placeholder="34000"
												disabled="disabled"
												style="	text-align: center;
														border: none;
												        opacity: 1;">
										<span>원</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	
	<th:block layout:fragment="customBodyScript">	
	<!-- plugins -->
		<script th:src="@{/asset/js/plugins/moment.min.js}"></script>
		<script th:src="@{/asset/js/plugins/jquery.datatables.min.js}"></script>
		<script th:src="@{/asset/js/plugins/datatables.bootstrap.min.js}"></script>
		<script th:src="@{/asset/js/plugins/jquery.nicescroll.js}"></script>
		
		
		<!-- custom -->
		<script th:src="@{/asset/js/main.js}"></script>
		<script type="text/javascript">
		  $(document).ready(function(){
			  
		  });
		</script>
<!-- end: Javascript -->
	</th:block>
</html>