
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/mypagedefault}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	
	<th:block layout:fragment="customContents">
		사용자가 신청한 운동클래스 리스트 및 상태
		<div class="container-fluid">
			<th:block th:if="${not #lists.isEmpty(eClassOpenAppleyList)}" th:each="ecoal : ${eClassOpenAppleyList}">
				<div class="row">
					<div class="col-md-3" style="border: solid #aa00cc 1px;margin-left: 15px;margin-top: 15px;width: 250px;height: 500px;">
						<div class="properties properties2">
							<div class="properties__card">
								<div class="properties__img overlay row" style="text-align: center;height: 350px;">
									<a th:href="@{/eClassApproved}"><img th:src="@{/asset/img/01_모코코콘1_07_멘탈X.png}" width="100%"height="100%" alt="클래스의 미리보기 이미지"></a>
								</div>
								<div class="col-md-12" style="text-align: center; padding:0px;">
									<h3><a th:href="@{/eClassApproved}">[[${ecoal.eClassApprovedName}]]</a></h3>
								</div>
								<div class="row"style="text-align: center;">
									<div class="col-md-12" >
										<input 	type="number"
												th:value="${ecoal.eClassApprovedPrice}"
												disabled="disabled"
												style="	text-align: center;
														border: none;
												        opacity: 1;
												        width: 70px;
												        text-align: right;">
										<span>원</span>
									</div>
									<div class="col-md-4" style="width: 100%; margin-top: 30px;">
										<div class="col-md-12" 
											 style="background-color: #FE2E2E; height: 30px;padding-top: 5px;"
											 th:if="${ecoal.eClassApprovedState} == '2'">
											<a href="#"><span style="color: #0abeac">반려됨(클릭시 상세사유)</span></a>
										</div>
										<div class="col-md-12" 
											 style="background-color: #808080; height: 30px;padding-top: 5px;"
											 th:if="${ecoal.eClassApprovedState} == '0'">
											<span style="color: #fff">심사중</span>
										</div>
										<div class="col-md-12" 
											 style="background-color: #2E2EFE; height: 30px;padding-top: 5px;"
											 th:if="${ecoal.eClassApprovedState} == '1'">
											<span style="color: #fff">승인</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</th:block>
		</div>
		<th:block th:unless="${not #lists.isEmpty(eClassOpenAppleyList)}" th:each="ecoal : ${eClassOpenAppleyList}">
			신청한 운동클래스가 없습니다.
		</th:block>
	</th:block>
	
	<th:block layout:fragment="customBodyScript">	
	
	<!-- plugins -->
	<script th:src="@{/asset/js/plugins/moment.min.js}"></script>
	<script th:src="@{/asset/js/plugins/jquery.nicescroll.js}"></script>
	
	<!-- custom -->
	<script th:src="@{/asset/js/main.js}"></script>
	<script type="text/javascript">
		 
	  $(document).ready(function(){
		  
		$('.ripple').removeClass('active');
		$('.tree').css('display', 'none');
		$('.tree li').css('background','none');
		$('.tree li a').css('font-weight',400);
		
		$('.ripple:first').css('background', 'rgba(184, 184, 184, 0.2)').addClass('active');
		
		  function deleteCookie(name) {
			  document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
			}
		deleteCookie('menuLink');
	  });
	</script>
	
</th:block>
	
	
</html>