<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/userdefault}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	
	<th:block layout:fragment="customContents">
		<!-- 회원 추가 정보 입력 area start -->
	    <form class="form-default" th:action="@{/addInfo}" method="POST">
	        <div>
	            <h2>회원 추가 정보 입력</h2>
	            <div class="form-input">
	                <label for="name">이름</label>
	                <input type="text" name="text" placeholder="﻿홍길동">
	            </div>
	            <div class="form-input">
	                <label for="name">전화번호</label>
	                <input type="text" name="text" placeholder="010-0000-0000">
	            </div>
	            <div class="form-input">
	                <label for="name">닉네임</label>
	                <input type="text" name="text" placeholder="홍길동이오">
	            </div>
	            <div class="form-input">
	                <label for="name">생년월일</label>
	                <input type="text" name="text" placeholder="000101">
	            </div>
	            <div class="form-input">
	                <label for="name">성별</label>
	                <input type="text" name="text" placeholder="남자/여자">
	            </div>
	            <div class="form-input">
	                <label for="name">추천인 이메일</label>
	                <input type="email" name="email" placeholder="﻿example@email.com">
	            </div>
	            <div class="form-input">
	                <label for="name">마케팅 수신 동의</label>
	                <input type="text" name="text" placeholder="Y/N">
	            </div>
	            <div class="form-input pt-30">
	                <input type="submit" name="submit" value="등록">
	            </div>
	            <div class="form-input pt-30">
	                <input type="submit" name="submit" value="취소">
	            </div>
	        </div>
	    </form>
	</th:block>
	
	
</html>