<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/userdefault}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	
	<th:block layout:fragment="customContents">
	    <form class="form-default" th:action="@{/addMember}" method="POST">
	        <div class="login-form">
	            <h2>회원 가입</h2>
	            <div class="form-input">
	                <label for="name">이메일</label>
	                <input type="email" name="memberEmail" placeholder="﻿example@email.com">
	            </div>
	           <!--  <div class="form-input">
	                <label for="name">이메일 확인</label>
	                <input type="email" placeholder="﻿example@email.com">
	            </div> -->
	            <div class="form-input">
	                <label for="name">비밀번호</label>
	                <input type="password" name="memberPw" placeholder="********">
	            </div>
	            <!-- <div class="form-input">
	                <label for="name">비밀번호 확인</label>
	                <input type="password" placeholder="********">
	            </div> -->
	            <div class="form-input pt-30">
	                <input type="submit" name="submit" value="회원 가입">
	            </div>
	        </div>
	    </form>
	</th:block>
   </body>
</html>