<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	
	<th:block layout:fragment="customContents">
		<div class="col-md-12">
			<div class="panel">
		    	<div class="panel-heading-white panel-heading">
		        	<h4>#회원 권한 목록(이민식)</h4>
		        </div>
		        <div class="panel-body">
		        	<div class="col-md-12">
						<div class="col-md-12 top-20 padding-0">
			            	<div class="col-md-12">
			                	<div class="panel">
			                    	<div class="panel-heading bg-deep-purple">
			                    		<h6 class="text-white">회원 권한 목록</h6>
			                    	</div>
			                   		<div class="panel-body">
			                     		<div class="responsive-table">
				                     	<table id="memberLevelList" class="table table-striped table-bordered" style="width: 100%;">
										<thead>
											<tr>
											<!--memberLevelCode, memberLevelName, memberLevelRegEmail, memberLevelRegDate-->
												<th>회원 권한 코드</th>
												<th>회원 권한 이름</th>
												<th>회원 권한 등록자 이메일</th>
												<th>회원 권한 등록 날짜</th>
											</tr>
										</thead>
										<tbody>
											<tr th:if="${not #lists.isEmpty(memberLevelList)}" th:each="l : ${memberLevelList}">
												<td th:text="${l.memberLevelCode}"></td>
												<td th:text="${l.memberLevelName}"></td>
												<td th:text="${l.memberLevelRegEmail}"></td>
												<td th:text="${l.memberLevelRegDate}"></td>
											</tr>
											<tr th:unless="${not #lists.isEmpty(memberLevelList)}">
												<td colspan="7">등록된 회원 권한이 없습니다.</td>
											</tr>
										</tbody>
				                        </table>
										</div>
									</div>
								</div>
							</div>  
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	
	<!-- start: Javascript -->
	<th:block layout:fragment="customBodyScript">	
		
		<!-- plugins -->
		<script th:src="@{/asset/js/plugins/moment.min.js}"></script>
		<script th:src="@{/asset/js/plugins/jquery.dataTables.min.js}"></script>
		<script th:src="@{/asset/js/plugins/dataTables.bootstrap.min.js}"></script>
		<script th:src="@{/asset/js/plugins/jquery.nicescroll.js}"></script>
		
		
		<!-- custom -->
		<script th:src="@{/asset/js/main.js}"></script>
		<script type="text/javascript">
		$(document).ready(function(){
		    $('#memberLevelList').DataTable();		    
		});
		
		</script>
	</th:block>
	<!-- end: Javascript -->
</html>